:root {
	color-scheme: light dark;
}

body {
	transition: 0.5s;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#mainTable,
#searchTable {
	text-align: center;
	width: 50%;
	margin: auto;
	padding: 10px;
}

.selected {
	border-style: outset;
	outline: none;
	text-decoration: none;
	display: inline-block;
	border-style: solid;
	border-width: 3px;
	border-bottom-width: 0px;
	border-radius: 10px 10px 0px 0px;
	border-color: black;
}

.unselected {
	border-style: outset;
	outline: none;
	text-decoration: none;
	display: inline-block;
	border-style: solid;
	border-width: 3px;
	border-radius: 10px;
	border-color: black;
}

#options {
	border-width: 0px 0px 3px 0px;
	position: fixed;
	border-radius: 50px;
	background-color: inherit;
	transform: translate(-50%, 0px);
	left: 50%;
	padding-left: 5px;
	padding-right: 5px;
}

.message {
	opacity: 0;
	z-index: 0;
	position: fixed;
	padding: 20px;
	border-radius: 10px;
	transition: 1s;
}

.msg-button {
	border-style: outset;
	outline: none;
	text-decoration: none;
	margin-left: auto;
	margin-right: 0px;
	display: block;
	border-radius: 5px;
	border: 1px;
}

#scheme {
	background-color: inherit;
	transition: 0.5s;
	outline: none;
	border: none;
	text-decoration: none;
	margin-left: auto;
	margin-right: 0;
	text-decoration: none;
	display: inline-block;
	border-radius: 49px;
}

#content {
	margin-top: 50px;
}

.btnOpt {
	text-align: center;
	max-width: 110px;
}

@media (prefers-color-scheme: dark) {
	#error {
		background-color: #500;
	}

	#info {
		background-color: #005;
	}

	body {
		background: #333;
		color: white;
	}

	.unselected:hover {
		background: linear-gradient(180deg, #444, #333);
		transition: 0.5s;
	}

	#options {
		background: #444;
	}

	.selected {
		background: #444;
	}

	.unselected {
		background: linear-gradient(180deg, #333, #333);
		transition: 0.5s;
	}
}

@media (prefers-color-scheme: light) {
	#error {
		background-color: #F00;
	}

	#info {
		background-color: #00F;
	}

	body {
		background: #ddd;
		color: black;
	}

	#options {
		background: #CCC
	}

	.selected {
		background: #CCC;
		transition: 0.5s;
	}

	.unselected:hover {
		background: linear-gradient(180deg, #999, #DDD);
		transition: 0.5s;
	}

	.unselected {
		background: linear-gradient(180deg, #DDD, #DDD);
		transition: 0.5s;
	}
}
